@charset "UTF-8";
/* =================================================================
* Reset Style for PC
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-10-20
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

body, #wrapper, html {
  height: 100%;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

.warpper .nav {
  position: fixed;
  z-index: 2001;
  width: 122px;
  height: 100%;
  background-color: #58595b;
}
.warpper .nav .logo {
  padding: 12px 0 0 34px;
  width: 100%;
  height: 61px;
  background-color: #2b2b2b;
}
.warpper .sidebar-collapse {
  background-color: #58595b;
}
.warpper .sidebar-collapse ul li {
  position: relative;
  padding-left: 10px;
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #4e4f51;
}
.warpper .sidebar-collapse ul li a {
  font: 14px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  text-decoration: none;
  display: block;
}
.warpper .sidebar-collapse ul li .list {
  position: absolute;
  top: 0;
  left: 122px;
  z-index: 1;
  display: none;
}
.warpper .sidebar-collapse ul li .list dl dd {
  width: 122px;
  height: 47px;
  border: 1px solid #eee;
  border-left: 0;
  border-top: 0;
  background: rgba(245, 245, 245, 0.79);
}
.warpper .sidebar-collapse ul li .list dl dd:first-child {
  border-top: 1px solid #eee;
}
.warpper .sidebar-collapse ul li .list dl dd a {
  display: block;
  text-align: center;
  text-decoration: none;
  font: 14px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.warpper .sidebar-collapse ul li .list dl dd.active a {
  color: #f6ac1d;
}
.warpper .sidebar-collapse ul li i {
  float: left;
  margin-top: 10px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../images/left_icon.png") no-repeat;
}
.warpper .sidebar-collapse ul li i.i1 {
  background-position: 0 2px;
}
.warpper .sidebar-collapse ul li i.i2 {
  background-position: 0 -45px;
}
.warpper .sidebar-collapse ul li i.i3 {
  background-position: 0 -94px;
}
.warpper .sidebar-collapse ul li i.i4 {
  background-position: 0 -142px;
}
.warpper .sidebar-collapse ul li i.i5 {
  background-position: 0 -189px;
}
.warpper .sidebar-collapse ul li i.i6 {
  background-position: 0 -237px;
}
.warpper .sidebar-collapse ul li i.i7 {
  background-position: 0 -285px;
}
.warpper .sidebar-collapse ul li i.i8 {
  background-position: 0 -333px;
}
.warpper .sidebar-collapse ul li i.i9 {
  background-position: 0 -381px;
}
.warpper .sidebar-collapse ul li i.i10 {
  background-position: 0 -428px;
}
.warpper .sidebar-collapse ul li i.i11 {
  background-position: 0 -477px;
}
.warpper .sidebar-collapse ul li i.i12 {
  background-position: 0 -524px;
}
.warpper .sidebar-collapse ul li i.i13 {
  background-position: 0 -572px;
}
.warpper .sidebar-collapse ul li span {
  margin-left: 8px;
}
.warpper .sidebar-collapse ul li.active {
  position: relative;
  background-color: #f5f5f5;
}
.warpper .sidebar-collapse ul li.active .list {
  display: block;
}
.warpper .sidebar-collapse ul li.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 46px;
  background-color: #f6ac1d;
}
.warpper .sidebar-collapse ul li.active a {
  color: #747474;
}
.warpper .sidebar-collapse ul li.active i.i1 {
  background-position: -27px 2px;
}
.warpper .sidebar-collapse ul li.active i.i2 {
  background-position: -27px -45px;
}
.warpper .sidebar-collapse ul li.active i.i3 {
  background-position: -27px -94px;
}
.warpper .sidebar-collapse ul li.active i.i4 {
  background-position: -27px -142px;
}
.warpper .sidebar-collapse ul li.active i.i5 {
  background-position: -27px -189px;
}
.warpper .sidebar-collapse ul li.active i.i6 {
  background-position: -27px -237px;
}
.warpper .sidebar-collapse ul li.active i.i7 {
  background-position: -27px -285px;
}
.warpper .sidebar-collapse ul li.active i.i8 {
  background-position: -27px -333px;
}
.warpper .sidebar-collapse ul li.active i.i9 {
  background-position: -27px -381px;
}
.warpper .sidebar-collapse ul li.active i.i10 {
  background-position: -27px -428px;
}
.warpper .sidebar-collapse ul li.active i.i11 {
  background-position: -27px -477px;
}
.warpper .sidebar-collapse ul li.active i.i12 {
  background-position: -27px -524px;
}
.warpper .sidebar-collapse ul li.active i.i13 {
  background-position: -27px -572px;
}
.warpper .sidebar-collapse ul li.on {
  position: relative;
  background-color: #f5f5f5;
}
.warpper .sidebar-collapse ul li.on:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 46px;
  background-color: #f6ac1d;
}
.warpper .sidebar-collapse ul li.on a {
  color: #747474;
}
.warpper .sidebar-collapse ul li.on i.i1 {
  background-position: -27px 2px;
}
.warpper .sidebar-collapse ul li.on i.i2 {
  background-position: -27px -45px;
}
.warpper .sidebar-collapse ul li.on i.i3 {
  background-position: -27px -94px;
}
.warpper .sidebar-collapse ul li.on i.i4 {
  background-position: -27px -142px;
}
.warpper .sidebar-collapse ul li.on i.i5 {
  background-position: -27px -189px;
}
.warpper .sidebar-collapse ul li.on i.i6 {
  background-position: -27px -237px;
}
.warpper .sidebar-collapse ul li.on i.i7 {
  background-position: -27px -285px;
}
.warpper .sidebar-collapse ul li.on i.i8 {
  background-position: -27px -333px;
}
.warpper .sidebar-collapse ul li.on i.i9 {
  background-position: -27px -381px;
}
.warpper .sidebar-collapse ul li.on i.i10 {
  background-position: -27px -428px;
}
.warpper .sidebar-collapse ul li.on i.i11 {
  background-position: -27px -477px;
}
.warpper .sidebar-collapse ul li.on i.i12 {
  background-position: -27px -524px;
}
.warpper .sidebar-collapse ul li.on i.i13 {
  background-position: -27px -572px;
}

#page-wrapper {
  padding: 0;
  position: inherit;
  margin: 0 0 0 122px;
}
#page-wrapper .header-nav {
  height: 61px;
  background-color: #58595b;
}
#page-wrapper .header-nav .nav-right {
  float: right;
  overflow: hidden;
}
#page-wrapper .header-nav .nav-right > a {
  float: left;
  margin-left: 20px;
}
#page-wrapper .header-nav .nav-right .room {
  padding-right: 5px;
  margin-right: 20px;
  font: 14px/61px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
#page-wrapper .header-nav .nav-right .user span {
  float: left;
  font: 14px/61px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
#page-wrapper .header-nav .nav-right .user i {
  margin: 10px 0 0 15px;
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 100%;
  overflow: hidden;
}
#page-wrapper .header-nav .nav-right .quit {
  margin: 20px 0 0 20px;
  width: 19px;
  height: 18px;
  background: url("../images/ebooking_icon.png") no-repeat;
}
#page-wrapper .header-nav .nav-right .go-online {
  padding: 12px 20px 0;
  height: 61px;
  background-color: #f6ac1d;
}
#page-wrapper .header-nav .nav-right .go-online p {
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
#page-wrapper .header-nav .nav-right .go-online i {
  margin: 0 auto;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/ebooking_icon.png") -24px 0 no-repeat;
}
#page-wrapper #content-main {
  padding: 20px 0;
  overflow: hidden;
}
#page-wrapper .footer {
  overflow: hidden;
  padding: 10px 20px;
  height: 36px;
}
#page-wrapper .footer p {
  font: 12px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #747474;
  text-align: right;
}

.row {
  margin-right: -30px;
  margin-left: 0;
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -5px;
  color: #fff;
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -6px;
  color: #f6ac1d;
  -moz-transform: rotateZ(-135deg);
  -o-transform: rotateZ(-135deg);
  -ms-transform: rotateZ(-135deg);
  -webkit-transform: rotateZ(-135deg);
  transform: rotateZ(-135deg);
}

.title {
  width: 1100px;
  height: auto;
  margin: 0 auto;
}
.title .left {
  margin-left: -55px;
}
.title i {
  margin: 9px 0 0 0;
  float: left;
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url("../images/ebooking_icon.png") -51px 0 no-repeat;
}
.title h2 {
  margin-left: 55px;
  font: 30px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}

.item {
  margin: 20px auto 0;
  width: 1100px;
  overflow: hidden;
}
.item h3 {
  font: 24px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.item .item-list {
  float: left;
}
.item .item-list-text {
  float: left;
  margin-left: 44px;
  width: 337px;
  height: 350px;
  background-color: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
}
.item .item-list-text .img {
  padding: 20px 0;
  height: 95px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.item .item-list-text .img > i {
  display: inline-block;
  background: url("../images/ebooking_icon.png") no-repeat;
}
.item .item-list-text .line {
  padding: 10px 0 0 10px;
}
.item .item-list-text .line i {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../images/ebooking_icon.png") no-repeat;
}
.item .item-list-text .line i.i1 {
  background-position: -235px 0;
}
.item .item-list-text .line i.i2 {
  background-position: -342px 0;
}
.item .item-list-text .line i.i3 {
  background-position: -270px 0;
}
.item .item-list-text .line i.i4 {
  background-position: -342px 0;
}
.item .item-list-text .line i.i5 {
  background-position: -379px 0;
}
.item .item-list-text .line i.i6 {
  background-position: -306px 0;
}
.item .item-list-text .line .r {
  padding-bottom: 10px;
  overflow: hidden;
  margin-left: 40px;
  border-bottom: 1px solid #ddd;
}
.item .item-list-text .line .r span {
  float: right;
  padding-right: 10px;
  font: 14px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.item .item-list-text .line .r span strong {
  font-size: 40px;
}
.item .item-list-text .line .middle {
  float: left;
}
.item .item-list-text .line .middle .line-div {
  width: 152px;
  height: 10px;
  border-radius: 30px;
  background-color: #e0e0e0;
}
.item .item-list-text .line .middle .line-div .progress {
  height: 100%;
  border-radius: 30px;
  background-color: #f6ac1d;
}
.item .item-list-text .line .middle p {
  font: 14px/32px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.item .item-list-text .line3 .r {
  border-bottom: none;
}
.item .item1 {
  margin-left: 0;
}
.item .item1 .img > i {
  width: 42px;
  height: 50px;
  background-position: -88px 0;
}
.item .item2 .img > i {
  width: 51px;
  height: 41px;
  background-position: -133px 0;
}
.item .item3 .img > i {
  width: 40px;
  height: 40px;
  background-position: -189px 0;
}

.today-order-content {
  padding: 20px;
  float: left;
  width: 100%;
  height: auto;
  background-color: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
  overflow: hidden;
}
.today-order-content .l {
  float: left;
  overflow: hidden;
  padding-right: 40px;
  border-right: 1px solid #ddd;
}
.today-order-content .l i {
  margin-top: 31px;
  float: left;
  display: inline-block;
  width: 66px;
  height: 66px;
  background: url("../images/ebooking_icon.png") 0 -53px no-repeat;
}
.today-order-content .l .date {
  margin-left: 30px;
  float: left;
  background-color: #e0e0e0;
  border-radius: 5px;
}
.today-order-content .l .date p {
  padding: 0 10px;
  font: 18px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #2b2b2b;
}
.today-order-content .l .date p .week {
  margin-left: 30px;
}
.today-order-content .l .date .time {
  font: 60px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #f6ac1d;
  text-align: center;
  background-color: #fef7e8;
}
.today-order-content .r {
  float: left;
  overflow: hidden;
}
.today-order-content .r .r-item {
  float: left;
  margin-left: 70px;
  overflow: hidden;
}
.today-order-content .r .r-item i {
  margin-top: 31px;
  float: left;
  width: 66px;
  height: 66px;
  background: url("../images/ebooking_icon.png") no-repeat;
}
.today-order-content .r .r-item i.r1 {
  background-position: -73px -53px;
}
.today-order-content .r .r-item i.r2 {
  background-position: -148px -53px;
}
.today-order-content .r .r-item i.r3 {
  background-position: -224px -53px;
}
.today-order-content .r .r-item .text {
  float: left;
}
.today-order-content .r .r-item .text h4 {
  font: 18px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.today-order-content .r .r-item .text p {
  font: 36px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  text-align: center;
}

.user-develop {
  padding: 20px;
  float: left;
  width: 720px;
  height: auto;
  background-color: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
  overflow: hidden;
}
.user-develop .u-item {
  float: left;
  overflow: hidden;
}
.user-develop .u-item i {
  float: left;
  margin-top: 31px;
  float: left;
  width: 66px;
  height: 66px;
  background: url("../images/ebooking_icon.png") -224px -53px no-repeat;
}
.user-develop .u-item .text {
  float: left;
  margin-left: 50px;
}
.user-develop .u-item .text h4 {
  font: 18px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.user-develop .u-item .text p {
  font: 36px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  text-align: center;
}
.user-develop .r-img {
  float: left;
  margin-left: 50px;
  font: 18px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}

.go-back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}
.go-back i {
  margin-top: 18px;
  display: inline-block;
  width: 38px;
  height: 28px;
  background: url("../images/ebooking_icon.png") -416px 0 no-repeat;
}

.udiv {
  overflow: hidden;
  height: 1px;
  width: 100%;
}

.order-title i {
  margin: 10px 0 0 0;
  float: left;
  display: inline-block;
  width: 27px;
  height: 28px;
  background: url(../images/ebooking_icon.png) -473px 0 no-repeat;
}
.order-title h2 {
  float: left;
  margin-left: 15px;
}
.order-title ul {
  float: left;
}
.order-title ul li {
  margin: 6px 0  6px 30px;
  float: left;
  font: 18px/36px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  cursor: pointer;
}
.order-title ul li.active {
  border-bottom: solid 3px;
  color: #f6ac1d;
}

.order-search {
  padding: 10px 30px;
  margin: 20px auto 0;
  width: 1100px;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
}
.order-search ul {
  padding-top: 20px;
  float: left;
  overflow: hidden;
}
.order-search ul li {
  float: left;
  overflow: hidden;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #ddd;
}
.order-search ul li:last-child {
  border-right: 0;
}
.order-search ul li p {
  float: left;
  display: inline-block;
  font: 18px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  margin-right: 20px;
}
.order-search ul li label {
  padding: 0 10px;
  float: left;
  display: inline-block;
  width: 138px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  background-color: #f5f5f5;
}
.order-search ul li label input, .order-search ul li label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.order-search .btn {
  float: right;
  width: 161px;
  height: 66px;
  background: url(../images/ebooking_icon.png) 0 -124px no-repeat;
}

.table {
  padding-bottom: 66px;
  margin: 30px auto 0;
  width: 1100px;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
}
.table table {
  width: 100%;
}
.table table thead td {
  padding: 15px 0;
  font: 18px/36px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.table table thead td:nth-child(1) {
  text-align: center;
}
.table table thead td:last-child {
  text-align: center;
}
.table table tbody tr:nth-child(2n+1) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fef7e8;
}
.table table tbody tr:last-child {
  border-bottom: 1px solid #ddd;
}
.table table tbody tr td {
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  padding: 15px 0;
}
.table table tbody tr td:nth-child(1) {
  text-align: center;
  position: relative;
}
.table table tbody tr td:nth-child(1) p {
  padding: 0 5px;
  position: absolute;
  top: 0;
  font: 12px/16px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  background-color: #f6ac1d;
}
.table table tbody tr td:last-child {
  text-align: center;
}
.table table tbody tr td:last-child i {
  margin-top: 20px;
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url(../images/ebooking_icon.png) -367px -72px no-repeat;
}
.table table tbody tr td p i {
  margin-right: 5px;
  display: inline-block;
  background: url(../images/ebooking_icon.png) no-repeat;
}
.table table tbody tr td p i.i1 {
  width: 13px;
  height: 13px;
  background-position: -366px -52px;
}
.table table tbody tr td p i.i2 {
  width: 11px;
  height: 11px;
  background-position: -415px -52px;
}
.table table tbody tr td p i.i3 {
  width: 13px;
  height: 13px;
  background-position: -382px -52px;
}
.table table tbody tr td p i.i4 {
  width: 13px;
  height: 13px;
  background-position: -428px -52px;
}
.table table tbody tr td p i.i5 {
  width: 13px;
  height: 12px;
  background-position: -460px -52px;
}
.table table tbody tr td p i.i6 {
  width: 13px;
  height: 12px;
  background-position: -398px -52px;
}
.table table tbody tr td p i.i7 {
  width: 13px;
  height: 13px;
  background-position: -444px -52px;
}
.table table tbody tr td p i.i8 {
  width: 13px;
  height: 12px;
  background-position: -474px -52px;
}
.table table tbody tr td p a:first-child {
  color: #f6ac1e;
}
.table table tbody tr td p a:last-child {
  margin-left: 20px;
  color: #ff8b52;
}

.events-table {
  padding-bottom: 0;
}

.table-all .table-list {
  display: none;
}

.page {
  margin: 30px 0;
  text-align: center;
}
.page .prev, .page .next {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid;
  color: #f6ac1d;
  text-indent: -99999px;
}
.page .prev {
  position: relative;
}
.page .prev:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 6px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -5px;
  color: #f6ac1d;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.page .next {
  position: relative;
}
.page .next:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -5px;
  color: #f6ac1d;
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
.page a {
  display: inline-block;
  margin: 0 10px;
  width: 32px;
  height: 32px;
  font: 18px/32px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.page a.num.active {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid;
  color: #f6ac1d;
}

.events-h3 {
  margin: 0 auto;
  width: 1100px;
  font: 24px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}

.events-title i {
  margin: 10px 0 0 0;
  float: left;
  display: inline-block;
  width: 31px;
  height: 30px;
  background: url(../images/ebooking_icon.png) -395px -71px no-repeat;
}

.events-search {
  margin: 0 auto;
  width: 1100px;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
}
.events-search .events-search-list {
  padding-top: 30px;
  float: left;
}
.events-search .events-search-list ul {
  border-right: 1px solid #ddd;
  padding-left: 20px;
  float: left;
  overflow: hidden;
}
.events-search .events-search-list ul li {
  overflow: hidden;
  padding-right: 10px;
  padding-bottom: 20px;
}
.events-search .events-search-list ul li:last-child {
  padding-bottom: 0;
}
.events-search .events-search-list ul li > p {
  float: left;
  display: inline-block;
  font: 18px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  margin-right: 20px;
}
.events-search .events-search-list ul li > label {
  padding: 0 10px;
  float: left;
  display: inline-block;
  width: 138px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  background-color: #f5f5f5;
}
.events-search .events-search-list ul li > label input, .events-search .events-search-list ul li > label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.events-search .events-search-list ul li .date {
  float: left;
}
.events-search .events-search-list ul li .date label {
  padding: 0 10px;
  display: inline-block;
  width: 138px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  background-color: #f5f5f5;
}
.events-search .events-search-list ul li .date label input, .events-search .events-search-list ul li .date label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.events-search .events-search-list ul li .date p {
  font: 14px/20px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  text-align: center;
}
.events-search .events-search-list .date-list-add {
  border-right: 0;
}
.events-search .btn {
  margin-top: 55px;
  float: left;
  width: 161px;
  height: 66px;
  background: url(../images/ebooking_icon.png) 0 -124px no-repeat;
}
.events-search .add-active {
  padding: 20px 30px;
  float: right;
  background-color: #58595b;
}
.events-search .add-active i {
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 38px;
  background: url(../images/ebooking_icon.png) -435px -72px no-repeat;
}
.events-search .add-active .add-active-btn {
  display: block;
  width: 161px;
  height: 66px;
  background: url(../images/ebooking_icon.png) -161px -124px no-repeat;
}

.price-title i {
  margin: 10px 0 0 0;
  float: left;
  display: inline-block;
  width: 31px;
  height: 30px;
  background: url(../images/ebooking_icon.png) 0 -196px no-repeat;
}

.price-search {
  margin: 15px auto 0;
  width: 1100px;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
}
.price-search .l {
  float: left;
  margin-left: 50px;
}
.price-search .l .top {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.price-search .l .top i {
  margin-top: 20px;
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/ebooking_icon.png) -89px -195px no-repeat;
}
.price-search .l .top .top-left {
  float: left;
}
.price-search .l .top .top-left ul {
  float: left;
  padding: 20px 0;
}
.price-search .l .top .top-left ul li {
  display: inline-block;
  padding: 0 30px 0 15px;
}
.price-search .l .top .top-left ul li > p {
  float: left;
  display: inline-block;
  font: 18px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  margin-right: 20px;
}
.price-search .l .top .top-left ul li > label {
  padding: 0 10px;
  float: left;
  display: inline-block;
  width: 138px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  background-color: #f5f5f5;
}
.price-search .l .top .top-left ul li > label input, .price-search .l .top .top-left ul li > label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.price-search .l .top .top-left ul li:nth-child(1) {
  border-right: 1px solid #ddd;
}
.price-search .l .top .top-left .btn {
  float: left;
  width: 161px;
  height: 66px;
  background: url(../images/ebooking_icon.png) 0 -124px no-repeat;
}
.price-search .l .bottom {
  position: relative;
  overflow: hidden;
}
.price-search .l .bottom i {
  margin-top: 20px;
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/ebooking_icon.png) -123px -195px no-repeat;
}
.price-search .settings {
  padding: 20px 30px;
  float: right;
  background-color: #58595b;
}
.price-search .settings i {
  margin: 0 auto;
  display: block;
  width: 42px;
  height: 42px;
  background: url(../images/ebooking_icon.png) -38px -195px no-repeat;
}
.price-search .settings .add-active-btn {
  display: block;
  width: 161px;
  height: 66px;
  background: url(../images/ebooking_icon.png) -318px -124px no-repeat;
}

.date-list {
  position: relative;
  margin: 30px auto 0;
  width: 1100px;
}
.date-list ul li {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
  width: 200px;
  background: #fff;
  -moz-box-shadow: 1px 3px 5px #eff0f1;
  -webkit-box-shadow: 1px 3px 5px #eff0f1;
  box-shadow: 1px 3px 5px #eff0f1;
}
.date-list ul li:nth-child(5n) {
  margin-right: 0;
}
.date-list ul li .t {
  position: relative;
  padding: 20px 0 0 20px;
}
.date-list ul li .t .t-com {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding-right: 20px;
  padding-bottom: 5px;
}
.date-list ul li .t .t-com .l {
  float: left;
}
.date-list ul li .t .t-com .l p {
  font: 14px/24px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.date-list ul li .t .t-com .r {
  float: right;
}
.date-list ul li .t .t-com .r h2 {
  font: 36px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.date-list ul li .t .hot {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 3px;
  background-color: #f6ac1d;
  color: #fff;
  font: 12px/16px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.date-list ul li .t-active {
  background-color: #f6ac1d;
}
.date-list ul li .t-active .t-com .l p, .date-list ul li .t-active .t-com .r h2 {
  color: #fff;
}
.date-list ul li .b {
  padding: 15px 0 15px 20px;
}
.date-list ul li .b p {
  padding-right: 20px;
  font: 14px/24px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.date-list ul li .b p span {
  float: right;
}
.date-list ul li .b p .price-num {
  color: #f6ac1d;
  font-size: 24px;
}
.date-list .date-list-num {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px 0;
  margin-left: -600px;
  border-radius: 3px;
  background-color: #fff;
  width: 30px;
  border: 1px solid #ddd;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.date-list .date-list-num dl dd {
  text-align: center;
  height: 30px;
  line-height: 30px;
  font: 12px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  cursor: pointer;
  color: #58595b;
}
.date-list .date-list-num dl dd.active {
  background-color: #f5f5f5;
  border-bottom: 3px solid #f6ac1d;
}

.activiy-info {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 1100px;
  height: auto;
  background-color: #fff;
  -moz-box-shadow: 0px 3px 5px #ddd;
  -webkit-box-shadow: 0px 3px 5px #ddd;
  box-shadow: 0px 3px 5px #ddd;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.activiy-info-title {
  padding: 6px 30px;
  width: 100%;
  height: 60px;
  background-color: #f6ac1d;
}
.activiy-info-title h3 {
  float: left;
  font: 24px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.activiy-info-title .r {
  float: right;
}
.activiy-info-title .r i {
  margin-top: 12px;
  margin-left: 10px;
  float: left;
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/ebooking_icon.png) no-repeat;
  cursor: pointer;
}
.activiy-info-title .r i.narrow {
  background-position: -161px -195px;
}
.activiy-info-title .r i.expansion {
  background-position: -189px -195px;
}
.activiy-info-title .r i.close {
  background-position: -217px -195px;
}

.activiy-info-centent {
  padding: 20px;
}
.activiy-info-centent .activiy-info-centent-top {
  border-bottom: 1px solid #ddd;
}
.activiy-info-centent .activiy-info-centent-top .aict-left {
  float: left;
  display: inline-block;
  width: 680px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}
.activiy-info-centent .activiy-info-centent-top .aict-left ul li {
  margin-bottom: 20px;
  float: left;
}
.activiy-info-centent .activiy-info-centent-top .aict-left ul li p {
  float: left;
  width: 120px;
  font: 18px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  text-align: right;
  margin-right: 30px;
}
.activiy-info-centent .activiy-info-centent-top .aict-left ul li label {
  padding: 0 10px;
  float: left;
  display: inline-block;
  width: 138px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  background-color: #f5f5f5;
}
.activiy-info-centent .activiy-info-centent-top .aict-left ul li label input, .activiy-info-centent .activiy-info-centent-top .aict-left ul li label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.activiy-info-centent .activiy-info-centent-top .aict-left ul li i {
  cursor: pointer;
  margin-top: 3px;
  margin-left: 8px;
  float: left;
  width: 20px;
  height: 20px;
  background: url(../images/ebooking_icon.png) no-repeat;
}
.activiy-info-centent .activiy-info-centent-top .aict-left ul li i.add {
  background-position: -247px -195px;
}
.activiy-info-centent .activiy-info-centent-top .aict-left ul li i.reduce {
  background-position: -273px -195px;
}
.activiy-info-centent .activiy-info-centent-top .aict-right {
  padding-left: 20px;
  display: inline-block;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p {
  margin-bottom: 20px;
  overflow: hidden;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p i {
  float: left;
  background: url(../images/ebooking_icon.png) no-repeat;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p i.rule {
  width: 32px;
  height: 32px;
  background-position: -325px -195px;
  margin-right: 10px;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p i.add {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-position: -247px -195px;
  cursor: pointer;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p i.reduce {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-position: -273px -195px;
  cursor: pointer;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p span {
  float: left;
  font: 18px/32px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p label {
  padding: 0 10px;
  float: left;
  display: inline-block;
  width: 260px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  background-color: #f5f5f5;
}
.activiy-info-centent .activiy-info-centent-top .aict-right p label input, .activiy-info-centent .activiy-info-centent-top .aict-right p label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.activiy-info-centent .activiy-info-centent-top .aict-right .btn {
  margin: -15px auto 0;
  width: 161px;
  height: 66px;
  background: url(../images/ebooking_icon.png) 0 -236px no-repeat;
  cursor: pointer;
}
.activiy-info-centent .activiy-info-centent-middle {
  padding: 25px 0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.activiy-info-centent .activiy-info-centent-middle h5 {
  float: left;
  width: 120px;
  font: 18px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
  text-align: right;
  margin-right: 160px;
}
.activiy-info-centent .activiy-info-centent-middle span {
  margin-right: 10px;
  float: left;
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.activiy-info-centent .activiy-info-centent-middle label {
  padding: 0 10px;
  float: left;
  display: inline-block;
  width: 136px;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  background-color: #f5f5f5;
}
.activiy-info-centent .activiy-info-centent-middle label input, .activiy-info-centent .activiy-info-centent-middle label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 14px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.activiy-info-centent .activiy-info-centent-middle .radio {
  margin: 0 30px 0 0;
  float: left;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.activiy-info-centent .activiy-info-centent-middle .radio input {
  width: 30px;
  height: 30px;
}
.activiy-info-centent .activiy-info-centent-middle i {
  margin-left: 10px;
  float: left;
  width: 21px;
  height: 21px;
  display: inline-block;
  background: url(../images/ebooking_icon.png) -300px -195px no-repeat;
  cursor: pointer;
}
.activiy-info-centent .activiy-info-centent-bottom .btn {
  margin: 0 auto;
  width: 161px;
  height: 66px;
  background: url(../images/ebooking_icon.png) -160px -236px no-repeat;
  cursor: pointer;
}

/*# sourceMappingURL=ebooking.css.map */
