@charset "UTF-8";
/* =================================================================
* Reset Style for PC
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-10-20
* Version:0.0.1
* ================================================================== */
html {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

@font-face {
  font-family: myFirstFont;
  src: url("../font/hiragino.otf");
}
.warpper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: url(../images/login_bg.jpg) no-repeat;
  background-size: 100% auto;
}

.header {
  width: 100%;
  height: 62px;
  background: rgba(43, 43, 43, 0.5);
  overflow: hidden;
}
.header .logo {
  float: left;
  padding-top: 13px;
  width: 122px;
  height: 62px;
  background-color: #2b2b2b;
}
.header .logo .img {
  margin: 0 auto;
  width: 54px;
  height: 36px;
  background: url("../images/sgo_icon.png") 0 0 no-repeat;
}
.header .right {
  float: right;
  margin-right: 40px;
}
.header .right p {
  margin-top: 7px;
  float: left;
}
.header .right p i {
  margin-top: 12px;
  float: left;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/sgo_icon.png") -60px 0 no-repeat;
}
.header .right p span {
  float: left;
  margin-left: 15px;
  font: 18px/48px myFirstFont, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.header .right > a {
  margin-left: 36px;
}
.header .right .setting {
  margin-top: 23px;
  float: left;
  display: inline-block;
  width: 16px;
  height: 17px;
  background: url("../images/sgo_icon.png") -87px 0 no-repeat;
}
.header .right .close {
  margin-top: 22px;
  float: left;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/sgo_icon.png") -111px 0 no-repeat;
}

.login-content {
  margin: 0 auto;
  width: 100%;
}

.footer {
  width: 100%;
  height: 140px;
  background: rgba(43, 43, 43, 0.5);
}
.footer .footer-content {
  padding-top: 10px;
  margin: 0 auto;
  width: 1286px;
}
.footer .footer-content > div {
  display: inline-block;
}
.footer .footer-content .left {
  float: left;
  margin-right: 162px;
  width: 932px;
}
.footer .footer-content .left .map-list {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .footer-content .left .map-list > div {
  display: inline-block;
}
.footer .footer-content .left .map-list .text {
  margin-left: 40px;
}
.footer .footer-content .left .map-list .text > div {
  display: inline-block;
  float: left;
}
.footer .footer-content .left .map-list .text .phone-icon {
  width: 31px;
  height: 31px;
  background: url("../images/sgo_icon.png") -175px -103px no-repeat;
}
.footer .footer-content .left .map-list .text .download-icon {
  width: 31px;
  height: 31px;
  background: url("../images/sgo_icon.png") -206px -103px no-repeat;
}
.footer .footer-content .left .map-list .text .cooperate-icon {
  width: 31px;
  height: 31px;
  background: url("../images/sgo_icon.png") -238px -103px no-repeat;
}
.footer .footer-content .left .map-list .text .about-icon {
  width: 31px;
  height: 31px;
  background: url("../images/sgo_icon.png") -269px -103px no-repeat;
}
.footer .footer-content .left .map-list .text .content {
  margin-left: 10px;
}
.footer .footer-content .left .map-list .text .content p {
  font: 14px/24px myFirstFont, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.footer .footer-content .left .map-list .text .content p > a {
  display: inline-block;
  margin-right: 15px;
}
.footer .footer-content .left .map-list .text .content a {
  font: 14px/24px myFirstFont, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  display: block;
  text-decoration: none;
}
.footer .footer-content .left .map-list .logo {
  width: 167px;
  height: 57px;
  background: url("../images/sgo_icon.png") 0 -103px no-repeat;
}
.footer .footer-content .left > p {
  font: 12px/48px myFirstFont, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #58595b;
}
.footer .footer-content .right {
  float: right;
  width: 192px;
}
.footer .footer-content .right > div {
  display: inline-block;
}
.footer .footer-content .right .code {
  float: right;
  font-size: 0;
}
.footer .footer-content .right .code p {
  position: relative;
  padding-left: 8px;
  font: 14px/36px myFirstFont, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.footer .footer-content .right .code p:before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  width: 4px;
  height: 14px;
  background-color: #f6ac1d;
}
.footer .footer-content .right .code .img {
  font-size: 0;
}
.footer .footer-content .right .code:last-child {
  margin-right: 36px;
}

/*# sourceMappingURL=login.css.map */
